# Ignore .DS_Store files created by macOS
.DS_Store

# Ignore PNG files
*.png

# Ignore JSON files
*.json
*.npz

# Ignore log files
*.log

# Ignore compiled Python files
__pycache__/

# Ignore virtual environment directories
venv/
env/
